In [4]:
import pandas as pd
# pandas is a library its contain classes

In [5]:
dataset=pd.read_csv("Salary_Data.csv")#dataset is called read_csv function under pd

In [6]:
dataset# view dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
Indi=dataset[["YearsExperience"]]#split indipendent dataset

In [8]:
Indi#view independent dataset or x axis value

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [9]:
Dep=dataset[["Salary"]]#split dependent dataset

In [10]:
Dep#view dependent dataset or y axis value

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [11]:
from sklearn.model_selection import train_test_split #sklearn is another library contain functions,train_test_split is a function using split train test data

In [12]:
x_train,x_test,y_train,y_test=train_test_split(Indi,Dep,test_size=0.30,random_state=0)#we split train data 70% and test data 30% using randomly and assign separate variables

In [13]:
from sklearn.linear_model import LinearRegression#LinearRegression is create the model for our train dataset

In [30]:
regressor=LinearRegression()
regressor.fit(x_train,y_train)#fit is a method calculate the suitable input to learning the input and gives weight and bias

LinearRegression()

In [31]:
weight=regressor.coef_#view the weight of the dataset

In [32]:
weight

array([[9360.26128619]])

In [33]:
bias=regressor.intercept_#view the bais of the dataset

In [34]:
bias

array([26777.3913412])

In [41]:
ypred=regressor.predict(x_test)#regressor.predict is giving  predictable output values in x_test values
ypred#

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [36]:
from sklearn.metrics import r2_score#Evaluation metrix is verifying prdictable output and actual output values how effective ex.our score is nearly 1 it is best model,
                                                                                                                            # our score is nearly 0 is bad model

In [38]:
r_score=r2_score(y_test,ypred) # r2_score is veryfy our actual and predictable model ,our score is nearly 1 it is best model,
                                 # our score is nearly 0 it is bad  model

In [39]:
r_score # our score is nearly 1 so our model is best model

0.9740993407213511

In [42]:
import pickle # saved our best model otherwise we run all codes in every time 
filename="final_model.sav"

In [43]:
pickle.dump(regressor,open(filename,'wb'))#our model is saved in regressor so assign in dump

In [44]:
load=pickle.load(open("final_model.sav",'rb'))#load the best model in read only

In [54]:
n=int(input())# test in our model
result=load.predict([[n]])
result

19

C:\Users\PJ MANI\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[204622.35577888]])