In [13]:
import pandas as pd

In [14]:
dataset=pd.read_csv("ckd.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [15]:

dataset=pd.get_dummies(dataset,drop_first=True)#get dummies is used to catogorical data handeling and changed numeric data by one hot encoding finaly is gives dummies so droup_first=True is delete first dummie colum
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [16]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [17]:
inde=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]

In [18]:
dep=dataset[['classification_yes']]

In [19]:
inde.shape

(399, 27)

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(inde,dep,test_size=1/3,random_state=0)

In [21]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [22]:
dataset.shape

(399, 28)

In [25]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
param_grid={'n_neighbors':[2,3,4,5],'metric':['minkowski'],'p':[1,2]}
grid=GridSearchCV(KNeighborsClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\PJ MANI\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['minkowski'], 'n_neighbors': [2, 3, 4, 5],
                         'p': [1, 2]},
             scoring='f1_weighted', verbose=3)

In [26]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

In [27]:
cm

array([[47,  4],
       [30, 52]], dtype=int64)

In [28]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [29]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.61      0.92      0.73        51
           1       0.93      0.63      0.75        82

    accuracy                           0.74       133
   macro avg       0.77      0.78      0.74       133
weighted avg       0.81      0.74      0.75       133

In [30]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.8206599713055954

In [31]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_metric,param_n_neighbors,param_p,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.082022,0.030523,0.041481,0.046594,minkowski,2,1,"{'metric': 'minkowski', 'n_neighbors': 2, 'p': 1}",0.744423,0.675357,0.692938,0.776011,0.777030,0.733152,0.042063,3
1,0.222281,0.365482,0.123872,0.142715,minkowski,2,2,"{'metric': 'minkowski', 'n_neighbors': 2, 'p': 2}",0.707912,0.699618,0.671436,0.736978,0.758291,0.714847,0.030139,5
2,0.058025,0.013873,0.009849,0.008088,minkowski,3,1,"{'metric': 'minkowski', 'n_neighbors': 3, 'p': 1}",0.757917,0.719604,0.719201,0.739869,0.757433,0.738805,0.017125,2
3,0.056246,0.018750,0.006251,0.007656,minkowski,3,2,"{'metric': 'minkowski', 'n_neighbors': 3, 'p': 2}",0.662657,0.721440,0.719201,0.721105,0.738011,0.712483,0.025823,7
4,0.042667,0.006081,0.003578,0.006089,minkowski,4,1,"{'metric': 'minkowski', 'n_neighbors': 4, 'p': 1}",0.798609,0.716981,0.713954,0.719201,0.777030,0.745155,0.035536,1
5,0.071872,0.023384,0.003126,0.006251,minkowski,4,2,"{'metric': 'minkowski', 'n_neighbors': 4, 'p': 2}",0.781481,0.716981,0.679245,0.702451,0.721268,0.720285,0.033939,4
6,0.062497,0.013975,0.006252,0.007657,minkowski,5,1,"{'metric': 'minkowski', 'n_neighbors': 5, 'p': 1}",0.781518,0.722492,0.644321,0.739869,0.680690,0.713778,0.047465,6
7,0.068748,0.018749,0.003126,0.006251,minkowski,5,2,"{'metric': 'minkowski', 'n_neighbors': 5, 'p': 2}",0.744423,0.685491,0.681761,0.702707,0.677527,0.698382,0.024560,8